[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
EnvironmentFile=/home/arkadefr/.config/env
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --keep-display --display :0 --pinentry-program /usr/bin/pinentry-gnome3
Restart=on-abort

[Install]
WantedBy=default.target
